:root {
  --primary-color: #5865F2;
  --background-color: #23272a;
  --text-color: #fff;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  justify-content: center; /* Center the entire content vertically */
  align-items: center; /* Center the entire content horizontally */
}

.container {
  margin: 20px auto; /* Add auto margins to horizontally center the container */
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: var(--primary-color);
  flex: 1 0 300px;
  height: 150px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05) translateY(-5px);
}

.card-text {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 800px) {
  .container {
    margin: 10px;
  }

  .card {
    flex-basis: 100%;
    max-width: 600px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer a {
  margin: 0 10px;
  color: var(--text-color);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.footer a:hover {
  text-decoration: underline;
}

.donate-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  border-radius: 50%;
  background-color: #23272a;
  width: 50px;
  height: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.donate-button:hover {
  transform: scale(1.05) translateY(-5px);
}

.donate-icon {
  width: 30px;
  height: 30px;
  display: block; /* Added this line to remove extra space below the image */
}

@media (max-width: 480px) {
  .donate-button {
    width: 40px;
    height: 40px;
  }

  .donate-icon {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 320px) {
  .donate-button {
    width: 30px;
    height: 30px;
  }

  .donate-icon {
    width: 20px;
    height: 20px;
  }
}




